body {
   background-color: #fff;
   font-family: $base;
   font-size: 16px;
   font-weight: 400;
}

.container {
   @media screen and (max-width: 575px) {
      max-width: 91.5%;
   }

   @media screen and (min-width: 1400px) {
      max-width: 1170px;
   }
}

.btnEnabled {
   background-color: #fa8c16 !important;
}
.btnHover {
   &:hover {
      background-color: #f16e00 !important;
   }
}
.btnPressed {
   &:active {
      background-color: #e16803 !important;
   }
}

.link {
   &:hover {
      text-decoration: underline !important;
   }
}

._pressed {
   color: #2f54eb;
}
