// ==== colors ====

$blue: #2f54eb;
$green: #52c41a;

// ==== btn ====
$enabled: #fa8c16;
$hover: #f16e00;
$pressed: #e16803;
$disabled: #fcc58a;

// ==== inputs ====
$input-bg: #f5f6fe;
$input-border: #2f54eb;
$input-hover: #6d87f1;
$input-error: #bb0000;

// === fonts ===
$base: "Montserrat", sans-serif;
$sans: "Open Sans", sans-serif;
