// Global styles
@import "null";
@import "fonts";
@import "vars";
@import "base";

// Blocks
@import "header";
@import "footer";

// ==== NAVBAR ====
nav {
   .logo {
      &__title {
         font-weight: 700;
         font-size: 24.1743px;
         line-height: 29px;
         span {
            color: #ff8d00;
         }
      }
      &__subtitle {
         margin-bottom: 0;
         font-weight: 500;
         font-size: 9px;
         line-height: 11px;
         letter-spacing: 0.15em;
         opacity: 0.8;
      }
   }
   .linkToForm {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
   }
}

// HERO section
.hero {
   &__title {
      font-weight: 600;
      font-size: 23px;
      line-height: 28px;
      span {
         background-color: #52c41a;
         border-radius: 4px;
         padding: 0px 2px;
      }
   }
   &__subtitle {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
   }
   &__img {
      position: relative;
      overflow: hidden;
      &_main {
         border-radius: 20px;
         object-fit: cover;
         object-position: center;
         width: 100%;
         height: 100%;
      }
      &_nbc {
         position: absolute;
         bottom: 8px;
         right: 18px;
         background-color: #fff;
         border-radius: 8px;
         padding: 8px;
         display: flex;
         flex-direction: row;
         gap: 4px;
         align-items: center;
         justify-content: center;
         p {
            font-family: $sans;
            font-weight: 700;
            font-size: 11px;
            line-height: 16px;
            color: black;
         }
         img {
            max-width: 24px;
            max-height: 24px;
         }
         p,
         img {
            margin: 0;
            padding: 0;
         }
      }
   }
   @media screen and (min-width: 576px) {
      &__title {
         font-size: calc(23px + (35 - 23) * ((100vw - 576px) / (1440 - 576))) !important;
         line-height: calc(28px + (48 - 28) * ((100vw - 576px) / (1440 - 576))) !important;
      }
      &__subtitle {
         font-size: calc(14px + (23 - 14) * ((100vw - 576px) / (1440 - 576))) !important;
         line-height: calc(20px + (32 - 20) * ((100vw - 576px) / (1440 - 576))) !important;
      }
   }
}

//  ==== MAIN CONTENT ====
.advantages {
   &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #263238;
      margin-bottom: 0;
   }
}

.affordableSmall {
   background: #f5f6fe;
   border: 1px solid #fa8c16;
   border-radius: 8px;
   p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #263238;
   }
}

.mainCard {
   .inputZip {
      p {
         font-weight: 500;
         font-size: 14px;
         color: #646464;
      }
   }
   @media screen and (min-width: 576px) {
      padding-left: calc(24px + (90 - 24) * ((100vw - 576px) / (1440 - 576))) !important;
      padding-right: calc(24px + (90 - 24) * ((100vw - 576px) / (1440 - 576))) !important;
   }
}
