// Global styles
@import "null";
@import "fonts";
@import "vars";
@import "base";

// Blocks
@import "header";
@import "footer";

// ==== NAVBAR ====
nav {
   .linkToForm {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
   }
}
.logo {
   &__title {
      font-weight: 700;
      font-size: 24.1743px;
      line-height: 29px;
      span {
         color: #ff8d00;
      }
   }
   &__subtitle {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 9px;
      line-height: 11px;
      letter-spacing: 0.15em;
      opacity: 0.8;
   }
}

// HERO section
.hero {
   &__title {
      font-weight: 600;
      font-size: 23px;
      line-height: 28px;
      span {
         background-color: #52c41a;
         border-radius: 4px;
         padding: 0px 2px;
      }
   }
   &__subtitle {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
   }
   &__img {
      position: relative;
      overflow: hidden;
      &_main {
         border-radius: 20px;
         object-fit: cover;
         object-position: center;
         width: 100%;
         height: 100%;
      }
      &_nbc {
         position: absolute;
         bottom: 8px;
         right: 18px;
         background-color: #fff;
         border-radius: 8px;
         padding: 8px;
         display: flex;
         flex-direction: row;
         gap: 4px;
         align-items: center;
         justify-content: center;
         p {
            font-family: $sans;
            font-weight: 700;
            font-size: 11px;
            line-height: 16px;
            color: black;
         }
         img {
            max-width: 24px;
            max-height: 24px;
         }
         p,
         img {
            margin: 0;
            padding: 0;
         }
         &:hover,
         &:active {
            background-color: #cae2ff;
         }
      }
   }
   @media screen and (min-width: 576px) {
      &__title {
         font-size: calc(23px + (35 - 23) * ((100vw - 576px) / (1440 - 576))) !important;
         line-height: calc(28px + (48 - 28) * ((100vw - 576px) / (1440 - 576))) !important;
      }
      &__subtitle {
         font-size: calc(14px + (23 - 14) * ((100vw - 576px) / (1440 - 576))) !important;
         line-height: calc(20px + (32 - 20) * ((100vw - 576px) / (1440 - 576))) !important;
      }
   }
}

//  ==== MAIN CONTENT ====
.advantages {
   &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #263238;
      margin-bottom: 0;
   }
}

.affordableSmall {
   background: #f5f6fe;
   border: 1px solid #fa8c16;
   border-radius: 8px;
   p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #263238;
   }
}

.mainCard {
   .inputZip {
      width: 100%;
      max-width: 320px;
      .form-label {
         font-weight: 500;
         font-size: 14px;
         line-height: 17px;
      }
      p {
         font-weight: 500;
         font-size: 14px;
         color: #646464;
      }

      input {
         background-color: #f5f6fe;
         border: none;
         color: #222222;
      }
      input {
         &:hover,
         &:focus {
            border: 1px solid #2f54eb;
         }
         &:focus {
            &::placeholder {
               color: #646464;
            }
            .form-label {
               color: #2f54eb !important;
            }
         }
      }
   }
   @media screen and (min-width: 576px) {
      padding-left: calc(24px + (90 - 24) * ((100vw - 576px) / (1440 - 576))) !important;
      padding-right: calc(24px + (90 - 24) * ((100vw - 576px) / (1440 - 576))) !important;
   }
}

//  ==== FOOTER ====
footer {
   .logo__title {
      font-size: 30px;
      &:hover {
         color: rgba($color: #000000, $alpha: 0.9);
      }
   }
   @media screen and (min-width: 720px) {
      .footer__item {
         font-size: 12px !important;
      }
      .logo {
         padding-top: 24px !important;
         padding-bottom: 24px !important;
      }
   }
   @media screen and (min-width: 1400px) {
      .footer:last-child {
         padding-bottom: 44px;
      }
   }
}

// ==== MODAL ====
.modal-header {
   border: none;
   padding: 0px;
   position: relative;
   .btn-close {
      position: absolute;
      border-radius: 50%;
      top: 17.5px;
      right: 17.5px;
      background: url("./img/icons/close-icon.svg") no-repeat center;
      background-size: cover;
      width: 10px;
      height: 10px;
   }
}
.modal-content {
   .container {
      max-width: unset;
   }
   .modal-title {
      @media screen and (min-width: 1200px) {
         margin-top: 90px;
      }
   }
}
.form-check {
   label {
      padding: 29px 16px;
   }
   &:hover,
   &:active,
   &:checked {
      border-color: #fa8c16 !important;
      cursor: pointer;
   }
}
.formCheckYes {
   background: url("./img/icons/modal-done-icon.svg") no-repeat center;
   background-size: cover;
   border: none;
   width: 40px;
   height: 40px;
   margin: 16px 0px 16px 24px;
   margin-left: 24px !important;
   &:checked[type="radio"] {
      background: url("./img/icons/modal-done-icon.svg") no-repeat center !important;
      background-size: 38px 38px;
   }
   &:hover,
   &:active {
      cursor: pointer;
   }
}
.formCheckNo {
   background: url("./img/icons/modal-cross-icon.svg") no-repeat center;
   background-size: cover;
   border: none;
   width: 40px;
   height: 40px;
   margin: 16px 0px 16px 24px;
   margin-left: 24px !important;
   &:checked[type="radio"] {
      background: url("./img/icons/modal-cross-icon.svg") no-repeat center !important;
      background-size: 38px 38px;
   }
   &:hover,
   &:active {
      cursor: pointer;
   }
}
.radioBtns {
   gap: 8px;
}
.modalBtn {
   align-self: center;
   width: 100%;
   max-width: 250px;
   font-size: 16px !important;
   font-weight: 600;
}
.inputName,
.inputMail {
   padding: 0px;
   .form-label {
      padding: 1rem;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
   }
   input {
      background-color: #f5f6fe;
      border: none;
      color: #222222;
   }
   input {
      &:hover,
      &:focus {
         border: 1px solid #2f54eb;
      }
      &:focus {
         &::placeholder {
            color: #646464;
         }
         .form-label {
            color: #2f54eb !important;
         }
      }
   }
}
.safe {
   position: relative;
   &::before {
      content: "";
      background: url("./img/icons/safe.svg") no-repeat center;
      background-size: cover;
      position: absolute;
      top: 4px;
      left: 0;
      width: 9.6px;
      height: 12.8px;
   }
}
@media screen and (min-width: 576px) {
   .formCheckYes,
   .formCheckNo {
      width: calc(40px + (56 - 40) * ((100vw - 576px) / (1440 - 576))) !important;
      height: calc(40px + (56 - 40) * ((100vw - 576px) / (1440 - 576))) !important;
      margin: 10px !important;
   }
   .form-check {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: calc(0px + (18 - 0) * ((100vw - 576px) / (1440 - 576))) 0px !important;
      label {
         padding: 0px 0px 10px 0px;
      }
   }
   .radioBtns {
      padding: 0px calc(0px + (70 - 0) * ((100vw - 576px) / (1440 - 576))) !important;
      gap: 16px;
   }
   .modalBtn {
      align-self: center;
      padding: 16px 24px;
      width: unset;
   }
}

// Progress-bar
.progress {
   width: 100%;
   align-self: flex-end;
   padding-bottom: 0px;
   border-radius: 0;
   height: 4px;
   margin-top: 56px;
   margin-bottom: 24px;

   .progress-bar {
      width: 50%;
      background-color: $green;
   }
}
